
@using System.Globalization
@using TicketsMVC.Models
@model PassengersModel

@using (Html.BeginForm("Passengers", "Ferries", FormMethod.Get, new { enctype = "multipart/form-data", @class = "form-horizontal container", role = "form" }))
{

    /*<input class="form-control model" type="hidden" value='@Html.Raw(Json.Encode(Model))' />*/
    <div class="row">
        @for (var i = 0; i < @Model.MultDepList.Count; i++)
        {
            <label class="col-md-12" style="font-weight:bolder;font-size:18px;color:#1E7FB1">
                Δρομολόγια από <span style="color:orange;font-size:15px">@Model.MultDepList[i].FromPort.Split(',')[0].Split(']')[1]</span> προς <span style="color:orange;font-size:15px">@Model.MultDepList[i].ToPort.Split(',')[0].Split(']')[1]</span>  <span style="font-size:larger">-</span>  (@Model.Triptype)
            </label>
            if (@Model.Triptype.ToString() == "Multiple" || @Model.Triptype.ToString() == "WithReturn")
            {
                <label class="col-md-12">
                    Αναχώρηση: <span style="color:orange">@Model.MultDepList[i].DateFrom.ToString("D", new CultureInfo("el-GR"))</span> <span style="font-size:larger">-</span> Επιστροφή: <span style="color:orange">@Model.MultDepList[i].DateTo.ToString("D", new CultureInfo("el-GR"))</span>
                </label>
            }
            else
            {
                <label class="col-md-12">
                    Αναχώρηση: <span style="color:orange">@Model.MultDepList[i].DateFrom.ToString("D", new CultureInfo("el-GR"))</span>
                </label>
            }
        }
    </div>

    <div class="row" style="border-bottom:5px solid #1E7FB1">
        <img class="col-md-1" src="../Content/Searchimages/ship.png" style="float:left;margin-bottom:5px" />
        <label class="col-md-11" style="font-weight:bolder;font-size:15px;color:#1E7FB1;padding-left:0px;margin-top:10px;">Στοιχεία Επιβατών</label>
    </div>
    if (@Model.Triptype.ToString() == "Simple" || @Model.Triptype.ToString() == "WithReturn")
    {
        <table class="table table-condensed askpassengersinfo">
            <tr>
                <td>
                    @Model.MultDepList[0].DateFrom.ToString("D", new CultureInfo("el-GR")) @Model.MultRouteList[0].deptime
                </td>
                <td>
                    @Model.MultRouteList[0].boatcompany @Model.MultRouteList[0].boatname από <span style="color:orange;font-size:15px">@Model.MultDepList[0].FromPort.Split(',')[0].Split(']')[1]</span> προς <span style="color:orange;font-size:15px">@Model.MultDepList[0].ToPort.Split(',')[0].Split(']')[1]</span>
                </td>
            </tr>
        </table>
        if (@Model.Triptype.ToString() == "WithReturn")
        {
            <table class="table table-condensed askpassengersinfo">
                <tr>
                    <td>
                        @Model.MultDepList[0].DateTo.ToString("D", new CultureInfo("el-GR")) @Model.MultRouteList[0].arrtime
                    </td>
                    <td>
                        @Model.MultRouteList[1].boatcompany @Model.MultRouteList[1].boatname από <span style="color:orange;font-size:15px">@Model.MultDepList[0].FromPort.Split(',')[0].Split(']')[1]</span> προς <span style="color:orange;font-size:15px">@Model.MultDepList[0].ToPort.Split(',')[0].Split(']')[1]</span>
                    </td>
                </tr>
            </table>
        }
    }
    else
    {
        for (var i = 0; i < @Model.MultRouteList.Count; i++)
        {
            <table class="table table-condensed askpassengersinfo">
                <tr>
                    <td>
                        @Model.MultDepList[i].DateTo.ToString("D", new CultureInfo("el-GR")) @Model.MultRouteList[i].arrtime
                    </td>
                    <td>
                        @Model.MultRouteList[i].boatcompany @Model.MultRouteList[i].boatname από <span style="color:orange;font-size:15px">@Model.MultDepList[i].FromPort.Split(',')[0].Split(']')[1]</span> προς <span style="color:orange;font-size:15px">@Model.MultDepList[i].ToPort.Split(',')[0].Split(']')[1]</span>
                    </td>
                </tr>
            </table>
        }
    }

    //SUBMIT BUTTON
    <div class="row">
        <div class="col-md-10">
            <button value="Send" class="btn waves-effect waves-light #ff6f00 amber darken-3" type="submit" style="float:right">Αναζήτηση&nbsp;&nbsp;&nbsp;&nbsp;<img src="../Content/Searchimages/boatsearch.png" /></button>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/Scripts/passengers.js")
    @Styles.Render("~/Content/passengers.css")
}

