@using System.Globalization
@using TicketsMVC.Models
@model ResultsModel

<script type="text/javascript">
    $(window).load(function () {
        $(".cssload-loader").fadeOut("slow");
    });
</script>

@using (Html.BeginForm("Passengers", "Ferries", FormMethod.Get, new { enctype = "multipart/form-data", @class = "form-horizontal container", role = "form" }))
{

    /*<input class="form-control model" type="hidden" value='@Html.Raw(Json.Encode(Model))' />*/
    <div class="row">
        @for (var i = 0; i < @Model.MultDepList.Count; i++)
        {
            <label class="col-md-12" style="font-weight:bolder;font-size:24px;color:#1E7FB1">
                Δρομολόγια από <span style="color:#009FE2;font-size:15px">@Model.MultDepList[i].FromPort.Split(',')[0].Split(']')[1]</span> προς <span style="color:#009FE2;font-size:15px">@Model.MultDepList[i].ToPort.Split(',')[0].Split(']')[1]</span>  <span style="font-size:larger">-</span>  (@Model.Triptype)
            </label>
            if (@Model.Triptype.ToString() == "Multiple" || @Model.Triptype.ToString() == "WithReturn")
            {
                <label class="col-md-12">
                    Αναχώρηση: <span style="color:#003580">@Model.MultDepList[i].DateFrom.ToString("D", new CultureInfo("el-GR"))</span> <span style="font-size:larger">-</span> Επιστροφή: <span style="color:#003580">@Model.MultDepList[i].DateTo.ToString("D", new CultureInfo("el-GR"))</span>
                </label>
            }
            else
            {
                <label class="col-md-12">
                    Αναχώρηση: <span style="color:#005DA2">@Model.MultDepList[i].DateFrom.ToString("D", new CultureInfo("el-GR"))</span>
                </label>
            }
        }
    </div>

    <div class="row">
        <ul class="list-inline col-md-12">
            <li>
                <img src="../Content/resultsimages/typeavailable.png" style="float: left">
                <label style="padding-left: 5px; position: relative; top: 6px">Διαθέσιμες θέσεις</label>
            </li>
            <li>
                <img src="../Content/resultsimages/typelimited.png" style="float: left">
                <label style="padding-left: 5px; position: relative; top: 6px">Περιορισμένες θέσεις</label>
            </li>
            <li>
                <img src="../Content/resultsimages/typeno.png" style="float: left">
                <label style="padding-left: 5px; position: relative; top: 6px">Δεν υπάρχουν θέσεις</label>
            </li>
            <li>
                <img src="../Content/Resultsimages/typenore.png" style="float: left">
                <label style="padding-left: 5px; position: relative; top: 6px">Δεν υπάρχει δυνατότητα κράτησης</label>
            </li>
        </ul>
    </div>


    <div class="row" style="border-bottom:8px solid #5B9E5B">
        <img class="col-md-1" src="../Content/Searchimages/ship.png" style="float:left;margin-bottom:5px"/>
        <label class="col-md-11" style="font-weight:bolder;font-size:20px;color:#1E7FB1;padding-left:0px;margin-top:10px;">
            Διαθέσιμα Δρομολόγια
            @for (var i = 0; i < @Model.MultDepList.Count; i++)
            {
                if (i > 0 && @Model.MultDepList[i].FromPort.ToString() == @Model.MultDepList[i - 1].ToPort.ToString())
                {
                    <span style="font-size:larger"> -</span> <span style="color:orange">@Model.MultDepList[i].ToPort.Split(',')[0].Split(']')[1]</span>
                }
                else
                {
                    <span style="color:orange">@Model.MultDepList[i].FromPort.Split(',')[0].Split(']')[1]</span> <span style="font-size:larger">-</span> <span style="color:orange">@Model.MultDepList[i].ToPort.Split(',')[0].Split(']')[1]</span>
                }
            }
        </label>
    </div>

    <div class="row displayroutes">
        @if (@Model.Triptype.ToString() == "Simple" || @Model.Triptype.ToString() == "WithReturn")
        {
            <div class="col-md-11" style="border-bottom:2px solid #1E7FB1;left:20px">
                <img src="../Content/Searchimages/portfrom.png" style="float:left;margin-top:5px;margin-right:5px" />
                <label><span style="font-weight:bolder;color:#1E7FB1;font-size:small">Αναχώρηση</span><br />@Model.MultDepList[0].DateFrom.ToString("D", new CultureInfo("el-GR")) <span style="font-size:larger">-</span> από <span style="color:#009FE2;font-size:15px">@Model.MultDepList[0].FromPort.Split(',')[0].Split(']')[1]</span> προς <span style="color:#009FE2;font-size:15px">@Model.MultDepList[0].ToPort.Split(',')[0].Split(']')[1]</span></label>
            </div>
            <div class="displayroutesinfo">
                <table class="table table-condensed">
                    <tr>
                        <th>Επιλογή</th>
                        <th>Εταιρία</th>
                        <th>Πλοίο</th>
                        <th>Αναχώρηση</th>
                        <th>'Αφιξη</th>
                        <th>Ενδεικτική τιμή</th>
                    </tr>
                </table>
                @Html.HiddenFor(x => x.MultRouteList[0].boatcompany, new { @style = "display: none;", tabindex = -1 })
                @Html.HiddenFor(x => x.MultRouteList[0].boatname, new { @style = "display: none;", tabindex = -1 })
                @Html.HiddenFor(x => x.MultRouteList[0].deptime, new { @style = "display: none;", tabindex = -1 })
                @Html.HiddenFor(x => x.MultRouteList[0].arrtime, new { @style = "display: none;", tabindex = -1 })
                @Html.HiddenFor(x => x.MultRouteList[0].price, new { @style = "display: none;", tabindex = -1 })
                @Html.HiddenFor(x => x.MultRouteList[0].vesselid, new { @style = "display: none;", tabindex = -1 })
            </div>
            if (@Model.Triptype.ToString() == "WithReturn")
            {
                <div class="col-md-11" style="border-bottom:2px solid #1E7FB1;left:20px">
                    <img src="../Content/Searchimages/portto.png" style="float:left;margin-top:5px;margin-right:5px" />
                    <label><span style="font-weight:bolder;color:#1E7FB1;font-size:small">Επιστροφή</span><br />@Model.MultDepList[0].DateTo.ToString("D", new CultureInfo("el-GR")) <span style="font-size:larger">-</span> από <span style="color:#009FE2;font-size:15px">@Model.MultDepList[0].FromPort.Split(',')[0].Split(']')[1]</span> προς <span style="color:#009FE2;font-size:15px">@Model.MultDepList[0].ToPort.Split(',')[0].Split(']')[1]</span></label>
                </div>
                <div class="displayroutesinfo">
                    <table class="table table-condensed">
                        <tr>
                            <th>Επιλογή</th>
                            <th>Εταιρία</th>
                            <th>Πλοίο</th>
                            <th>Αναχώρηση</th>
                            <th>'Αφιξη</th>
                            <th>Ενδεικτική τιμή</th>
                        </tr>
                    </table>
                    @Html.HiddenFor(x => x.MultRouteList[1].boatcompany, new { @style = "display: none;", tabindex = -1 })
                    @Html.HiddenFor(x => x.MultRouteList[1].boatname, new { @style = "display: none;", tabindex = -1 })
                    @Html.HiddenFor(x => x.MultRouteList[1].deptime, new { @style = "display: none;", tabindex = -1 })
                    @Html.HiddenFor(x => x.MultRouteList[1].arrtime, new { @style = "display: none;", tabindex = -1 })
                    @Html.HiddenFor(x => x.MultRouteList[1].price, new { @style = "display: none;", tabindex = -1 })
                    @Html.HiddenFor(x => x.MultRouteList[1].vesselid, new { @style = "display: none;", tabindex = -1 })
                </div>
            }
        }
        else
        {
            for (var i = 0; i < @Model.MultDepList.Count; i++)
            {
                int counter = i + 1;
                <div class="displayroutesinfo">
                    <div class="col-md-11" style="border-bottom:2px solid #1E7FB1;left:20px">
                        <img src="../Content/Searchimages/portfrom.png" style="float:left;margin-top:5px;margin-right:5px" />
                        <label><span style="font-weight:bolder;color:#1E7FB1;font-size:small">@(counter)ο σκέλος</span><br />@Model.MultDepList[i].DateFrom.ToString("D", new CultureInfo("el-GR")) <span style="font-size:larger">-</span> από <span style="color:#009FE2;font-size:15px">@Model.MultDepList[i].FromPort.Split(',')[0].Split(']')[1]</span> προς <span style="color:#009FE2;font-size:15px">@Model.MultDepList[i].ToPort.Split(',')[0].Split(']')[1]</span></label>
                    </div>
                    <table class="table table-condensed">
                        <tr>
                            <th>Επιλογή</th>
                            <th>Εταιρία</th>
                            <th>Πλοίο</th>
                            <th>Αναχώρηση</th>
                            <th>'Αφιξη</th>
                            <th>Ενδεικτική τιμή</th>
                        </tr>
                    </table>
                    @Html.HiddenFor(x => x.MultRouteList[i].boatcompany, new { @style = "display: none;", tabindex = -1 })
                    @Html.HiddenFor(x => x.MultRouteList[i].boatname, new { @style = "display: none;", tabindex = -1 })
                    @Html.HiddenFor(x => x.MultRouteList[i].deptime, new { @style = "display: none;", tabindex = -1 })
                    @Html.HiddenFor(x => x.MultRouteList[i].arrtime, new { @style = "display: none;", tabindex = -1 })
                    @Html.HiddenFor(x => x.MultRouteList[i].price, new { @style = "display: none;", tabindex = -1 })
                    @Html.HiddenFor(x => x.MultRouteList[i].vesselid, new { @style = "display: none;", tabindex = -1 })
                </div>
            }
        }
    </div>

    <div class="row" style="border-bottom:5px solid #1E7FB1">
        <img class="col-md-1" src="../Content/Searchimages/ship.png" style="float:left;margin-bottom:5px" />
        <label class="col-md-11" style="font-weight:bolder;font-size:15px;color:#1E7FB1;padding-left:0px;margin-top:10px;">
            Εναλλακτικά δρομολόγια
            @for (var i = 0; i < @Model.MultDepList.Count; i++)
            {
                if (i > 0 && @Model.MultDepList[i].FromPort.ToString() == @Model.MultDepList[i - 1].ToPort.ToString())
                {
                    <span style="font-size:larger"> -</span> <span style="color:orange">@Model.MultDepList[i].ToPort.Split(',')[0].Split(']')[1]</span>
                }
                else
                {
                    <span style="color:orange">@Model.MultDepList[i].FromPort.Split(',')[0].Split(']')[1]</span> <span style="font-size:larger">-</span> <span style="color:orange">@Model.MultDepList[i].ToPort.Split(',')[0].Split(']')[1]</span>
                }
            }
        </label>
    </div>

    <div class="row col-md-12" style="border: 1px; display: inline">
        @for (int j = -3; j < 4; j++)
        {
            if (j == 0)
            {
                <a class="waves-effect waves-light btn orange " style="width: 13%; padding: 0 0rem;">@Model.MultDepList[0].DateFrom.AddDays(j).ToString("dddd dd/MM", new CultureInfo("el-GR"))</a>
            }
            else
            {
                <a class="waves-effect waves-light btn grey lighten-2" style="color: #858585; width: 13%; padding: 0 0rem;">@Model.MultDepList[0].DateFrom.AddDays(j).ToString("dddd dd/MM", new CultureInfo("el-GR"))</a>
            }
        }
    </div>



    <div class="yourSlider col-md-12" id="fromdtSliderid">
        <div>
            <img src="../Content/Resultsimages/white.png" alt="">
            <div class="ns_slideContent">
                <ul class="list-inline col-md-12">
                    <li>
                        <a href="javascript:movePrevSlide();">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                        </a>
                    </li>
                    @for (int j = -3; j < 4; j++)
                    {
                        if (j == 0)
                        {
                            <li>
                                <div class="slideclass-reservday" style="border-left-style: none; border-color: lightblue;">
                                    <p style="text-align: center; color: #2091EB">@Model.MultDepList[0].DateFrom.AddDays(j).ToString("dddd", new CultureInfo("el-GR"))</p>
                                    <p style="text-align: center; color: #2091EB">@Model.MultDepList[0].DateFrom.AddDays(j).ToString("dd MMMM", new CultureInfo("el-GR"))</p>
                                </div>
                            </li>

                        }
                        else
                        {
                            <li>
                                <div class="slideclass" style="border-left-style: none; border-color: lightblue;">
                                    <p style="text-align: center; color: #2091EB;">@Model.MultDepList[0].DateFrom.AddDays(j).ToString("dddd", new CultureInfo("el-GR"))</p>
                                    <p style="text-align: center; color: #2091EB;">@Model.MultDepList[0].DateFrom.AddDays(j).ToString("dd MMMM", new CultureInfo("el-GR"))</p>
                                </div>
                            </li>
                        }
                    }
                    <li>
                        <a href="javascript:moveNextSlide();" id="movenext">
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        @*<a href="http://www.builtbyevolve.com/" target="_blank"><img src="~/Content/Resultsimages/blue.png" data-slidecaption="You can put links on slides, too."  alt=""></a>*@
        @*<img src="test.jpg" alt="">
        <img src="test2.png" alt="">
        <img src="test3.gif" alt="">*@
    </div>

    //SUBMIT BUTTON
    <div class="row">
        <div class="col-md-12">
            <button value="Send" class="btn waves-effect waves-light right" type="submit" style="background-color:#FF6600">Συνέχεια&nbsp;&nbsp;&nbsp;&nbsp;<img src="../Content/Searchimages/boatsearch.png" /></button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/Scripts/NerveSlider/jquery.nerveSlider.min.js")
    @Styles.Render("~/Content/NerveSlider/nerveSlider.min.css")
    @Scripts.Render("~/Scripts/results.js")
    @Styles.Render("~/Content/results.css")
    @Scripts.Render("~/Scripts/moment/moment.js")
}

