@using TicketsMVC.Models
@model ResultsModel


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCE-zxKGCB7flXHlaoCAkvr0JfjbhdH3ko" async defer></script>

<script type="text/javascript">
    $(window).load(function () {
        $(".cssload-loader").fadeOut("slow");
    });
</script>

@using (Html.BeginForm("Passengers", "Ferries", FormMethod.Get, new { enctype = "multipart/form-data", @class = "form-horizontal container", role = "form" }))
{

    <div class="row">
        <label class="col-md-12" style="font-weight: bolder; font-size: 18px; color: #1E7FB1; display: inline">
            Δρομολόγια από <span style="color: orange; font-size: 15px">@Model.MultDepList[0].FromPort</span> προς <span style="color: orange; font-size: 15px">@Model.MultDepList[0].ToPort</span>  <span style="font-size: larger">-</span>  
            
            @if (Model.Triptype == Triptype.Simple)
            {
                <span  style="font-size: 12px">Απλή διαδρομή</span>
            }
            else if (Model.Triptype == Triptype.WithReturn)
            {
                <span style="font-size: 12px">Με επιστροφή</span>
            }
        </label>
        <label class="col-md-12">
            Αναχώρηση: <span style="color: orange">@Model.MultDepList[0].DateFrom.ToLongDateString()</span> <span style="font-size: larger">-</span> Επιστροφή: <span style="color: orange">@Model.MultDepList[0].DateTo.ToLongDateString()</span>
        </label>
    </div>

    <div class="row">
        <ul class="list-inline col-md-12">
            <li>
                <img src="~/Content/resultsimages/typeavailable.png" style="float: left">
                <label style="padding-left: 5px; position: relative; top: 6px">Διαθέσιμες θέσεις</label>
            </li>
            <li>
                <img src="~/Content/resultsimages/typelimited.png" style="float: left">
                <label style="padding-left: 5px; position: relative; top: 6px">Περιορισμένες θέσεις</label>
            </li>
            <li>
                <img src="~/Content/resultsimages/typeno.png" style="float: left">
                <label style="padding-left: 5px; position: relative; top: 6px">Δεν υπάρχουν θέσεις</label>
            </li>
            <li>
                <img src="~/Content/Resultsimages/typenore.png" style="float: left">
                <label style="padding-left: 5px; position: relative; top: 6px">Δεν υπάρχει δυνατότητα κράτησης</label>
            </li>
        </ul>
    </div>


    <div class="row" style="border-bottom:5px solid #1E7FB1">
        <img class="col-md-1" src="~/Content/Searchimages/ship.png" style="float:left;margin-bottom:5px"/>
        <label class="col-md-11" style="font-weight:bolder;font-size:15px;color:#1E7FB1;padding-left:0px;margin-top:10px;">
            Διαθέσιμα Δρομολόγια <span style="color:orange">@Model.MultDepList[0].FromPort.Split(',')[0]</span> <span style="font-size:larger">-</span> <span style="color:orange">@Model.MultDepList[0].ToPort.Split(',')[0]</span>
        </label>
    </div>


    <div class="row col-md-12" style="border: 1px; display: inline">
        <label class="" style="font-weight: bolder; font-size: 13px; color: #1E7FB1; display: inline">
            <img class="col-md-1" src="~/Content/Searchimages/portfrom.png" style="float: left;" width="22" height="22"/>
            Αναχώρηση <span style="font-size: 12px">@Model.MultDepList[0].DateFrom.ToLongDateString() | Από @Model.MultDepList[0].FromPort.Split(',')[0].Split(']')[1] πρός @Model.MultDepList[0].ToPort.Split(',')[0].Split(']')[1]</span> 
        </label>
    </div>

    <div class="row col-md-12" style="border: 1px; display: inline">
        @*<div class="btn-group">*@
            
            @for (int j = -3; j < 4; j++)
            {
                if (j == 0)
                {
                    <a class="waves-effect waves-light btn orange " style="width: 13%; padding: 0 0rem;">@Model.MultDepList[0].DateFrom.AddDays(j).ToString("dddd dd/MM")</a>
                }
                else
                {
                    <a class="waves-effect waves-light btn grey lighten-2" style="color: #858585; width: 13%; padding: 0 0rem;">@Model.MultDepList[0].DateFrom.AddDays(j).ToString("dddd dd/MM")</a>
                }
            }
            
          
        @*  </div>*@
        
    </div>

        //SUBMIT BUTTON
        <div class="row">
            <div class="col-md-12">
                <button value="Send" class="btn waves-effect waves-light orange" type="submit" style="float:right">Συνέχεια&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/Searchimages/boatsearch.png" /></button>
            </div>
        </div>
        }

        @section Scripts {
            @Scripts.Render("~/Scripts/results.js")
            @Styles.Render("~/Content/Search.css")
        }

