@using TicketsMVC.Models
@model SearchViewModel

<script type="text/javascript">
    $(window).load(function () {
        $(".cssload-loader").fadeOut("slow");
    });
</script>
<script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyCE-zxKGCB7flXHlaoCAkvr0JfjbhdH3ko" async defer></script>

@using (Html.BeginForm("Results", "Ferries", FormMethod.Get, new { enctype = "multipart/form-data", @class = "form-horizontal container", role = "form" }))
{

    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="row" >
        <ul class="list-inline col-md-12">
            <li>
                <input class="with-gap" name="TripType" type="radio" id="TripTypeS" value="Simple" />
                <label for="TripTypeS" style="padding-right:5px">Απλή Μετάβαση</label>
                <img src="../Content/Searchimages/oneway.png" style="position:relative;top:5px">
            </li>
            <li>
                <input class="with-gap" name="TripType" type="radio" id="TripTypeWR" value="WithReturn" />
                <label for="TripTypeWR" style="padding-right:5px">Με επιστροφή</label>
                <img src="../Content/Searchimages/withreturn.png" style="position:relative;top:5px">
            </li>
            <li>
                <input class="with-gap" name="TripType" type="radio" id="TripTypeM" value="Multiple" />
                <label for="TripTypeM" style="padding-right:5px">Πολλαπλή μετάβαση</label>
                <img src="../Content/Searchimages/multipledirections.png" style="position:relative;top:5px">
            </li>
        </ul>
</div>

    <div class="row" id="fromto">
        <div class="input-field col s6" id="depallroute0">
            <label for="MultDepList[0].FromPort" class="control-label">
                <a style="cursor:pointer">
                    Επιλέξτε λιμάνι Αναχωρησης
                    <img src="../Content/Searchimages/portfrom.png">
                </a>
            </label>
            <input class="form-control" type="text" name="MultDepList[0].FromPort" data-val-required="Εισάγετε όνομα λιμανιού πόλης" placeholder="Εισάγετε όνομα λιμανιού πόλης" data-val="true" tabindex=1 required>
            @Html.ValidationMessageFor(x => x.MultDepList[0].FromPort, "", new { @class ="text-danger"})
        </div>
        
        <div class="input-field col s6" id="arrallroute0">
            <label for="MultDepList[0].ToPort" class="control-label">
                <a style="cursor:pointer">
                    Επιλέξτε λιμάνι Προορισμού
                    <img src="../Content/Searchimages/portto.png">
                </a>
            </label>
            <input class="form-control" type="text" name="MultDepList[0].ToPort" data-val-required="Εισάγετε όνομα λιμανιού πόλης" placeholder="Εισάγετε όνομα λιμανιού πόλης" data-val="true" tabindex=2 required>
            @Html.ValidationMessageFor(x => x.MultDepList[0].ToPort, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="row" id="dates">
        <div class="col-md-3" id="depalldate">
            <label for="MultDepList[0].DateFrom" class="control-label">Αναχώρηση</label>
            <input class="form-control datepicker" type="text" id="departuredate0" name="MultDepList[0].DateFrom" readonly="readonly" data-val-required="Εισάγετε ημ/νια αναχώρησης" placeholder="Εισάγετε ημ/νια αναχώρησης" data-val="true" tabindex=3 required>
            @Html.ValidationMessageFor(x => x.MultDepList[0].DateFrom, "", new {@class = "text-danger"})
        </div>

        <div class="col-md-3" id="arralldate">
            <label for="MultDepList[0].DateTo" class="control-label">Επιστροφή</label>
            <input class="form-control datepicker" type="text" id="arrivedate0" name="MultDepList[0].DateTo" readonly="readonly" data-val-required="Εισάγετε ημ/νια επιστροφής" placeholder="Εισάγετε ημ/νια επιστροφής" data-val="true" tabindex=4 required>
            @Html.ValidationMessageFor(x => x.MultDepList[0].DateTo, "", new {@class = "text-danger"})
        </div>

        @* Passengers *@
        <div class="col-md-2">
            <div class="popover-markup">
                <label for="Passengers.NumOfPassengers" class="control-label">Επιβάτες</label>
                <input type="text" class="form-control" id="numpassengers" name="TotPassengers.NumOfPassengers" readonly="readonly" value="@Model.TotPassengers.NumOfPassengers" style="width: 60%" data_toggle="popover" placeholder="Εισάγετε αριθμό επιβατών" tabindex=1/>
                @Html.ValidationMessageFor(x => x.TotPassengers.NumOfPassengers, "", new {@class = "text-danger"})

                <div class="content hide">
                    @* ADULTS *@
                    <div class="row bottom-border-class" id="passengeradult" style="margin-bottom: 5px">
                        <input class="col-md-3 form-control" name="adults" data-val-required="Παρακαλώ εισάγετε αριθμό επιβατών" data-val="true" tabindex=-1 required>
                        <div class="col-md-7">
                            <label for="adults"><span style="font-weight: bolder">Ενήλικες</span><br/>Από 16 εώς 65 ετών</label>
                            <img src="~/Content/Searchimages/typeadult.png"/>
                        </div>
                        <div class="col-md-1 waves-effect waves-light increment"></div>
                        <div class="col-md-1 waves-effect waves-light decrement"></div>
                    </div>

                    @* TEENS *@
                    <div class="row bottom-border-class" id="passengerteen" style="margin-bottom: 5px">
                        <input class="col-md-3 form-control" name="teens" data-val-required="Παρακαλώ εισάγετε αριθμό επιβατών" data-val="true" tabindex=-1 required>
                        <div class="col-md-7">
                            <label for="teens"><span style="font-weight: bolder">Έφηβοι</span><br/>Από 12 εώς 16 ετών</label>
                            <img src="~/Content/Searchimages/typeteen.png"/>
                        </div>
                        <div class="col-md-1 waves-effect waves-light increment"></div>
                        <div class="col-md-1 waves-effect waves-light decrement"></div>
                    </div>

                    @* KIDS *@
                    <div class="row bottom-border-class" id="passengerkid" style="margin-bottom: 5px">
                        <input class="col-md-3 form-control" name="kids" data-val-required="Παρακαλώ εισάγετε αριθμό επιβατών" data-val="true" tabindex=-1 required>
                        <div class="col-md-7">
                            <label for="kids"><span style="font-weight: bolder">Παιδιά</span><br/>Από 2 εώς 12 ετών</label>
                            <img src="~/Content/Searchimages/typekid.png"/>
                        </div>
                        <div class="col-md-1 waves-effect waves-light increment"></div>
                        <div class="col-md-1 waves-effect waves-light decrement"></div>
                    </div>

                    @* INFANTS *@
                    <div class="row bottom-border-class" id="passengerinfant" style="margin-bottom: 5px">
                        <input class="col-md-3 form-control" name="infants" data-val-required="Παρακαλώ εισάγετε αριθμό επιβατών" data-val="true" tabindex=-1 required>
                        <div class="col-md-7">
                            <label for="infants"><span style="font-weight: bolder">Βρέφη</span><br/>Kάτω των 2 ετών</label>
                            <img src="~/Content/Searchimages/typeinfant.png"/>
                        </div>
                        <div class="col-md-1 waves-effect waves-light increment"></div>
                        <div class="col-md-1 waves-effect waves-light decrement"></div>
                    </div>

                    @* OLDS *@
                    <div class="row bottom-border-class" id="passengerold" style="margin-bottom: 5px">
                        <input class="col-md-3 form-control" name="olders" data-val-required="Παρακαλώ εισάγετε αριθμό επιβατών" data-val="true" tabindex=-1 required>
                        <div class="col-md-7">
                            <label for="olders"><span style="font-weight: bolder">Ηλικιωμένοι</span><br/>Άνω των 65 ετών</label>
                            <img src="~/Content/Searchimages/typeolder.png"/>
                        </div>
                        <div class="col-md-1 waves-effect waves-light increment"></div>
                        <div class="col-md-1 waves-effect waves-light decrement"></div>
                    </div>

                </div>
            </div>
        </div>

        @* Vehicles *@
        <div class="col-md-2">
            <div class="popover-markup">
                <label for="Vehicles.NumOfVehicles" class="control-label">Οχήματα</label>
                <input type="text" class="form-control" name="TotVehicles.NumOfVehicles" id="numvehicles" readonly="readonly" value="@Model.TotVehicles.NumOfVehicles" style="width: 60%" data_toggle="popover" placeholder="Εισάγετε αριθμό οχημάτων" tabindex=-1/>

                <div class="content hide">
                    @*Cars*@
                    <div class="row bottom-border-class" id="vehiclecars" style="margin-bottom: 5px">
                        <input class="col-md-3 form-control" id="cars" data-val="true" tabindex=-1 required>
                        <div class="col-md-7">
                            <label for="cars" style="margin-top: 10px">Αυτοκίνητα</label>
                            <img src="~/Content/Searchimages/typecar.png"/>
                        </div>
                        <div class="col-md-1 waves-effect waves-light increment"></div>
                        <div class="col-md-1 waves-effect waves-light decrement"></div>
                    </div>

                    @*Motorcycles*@
                    <div class="row bottom-border-class" id="vehiclemotos" style="margin-bottom: 5px">
                        <input class="col-md-3 form-control" id="motos" data-val="true" tabindex=-1 required>
                        <div class="col-md-7">
                            <label for="motos" style="margin-top: 10px">Μηχανές</label>
                            <img src="~/Content/Searchimages/typemoto.png"/>
                        </div>
                        <div class="col-md-1 waves-effect waves-light increment"></div>
                        <div class="col-md-1 waves-effect waves-light decrement"></div>
                    </div>

                    @* Traler *@
                    <div class="row bottom-border-class" id="vehicletrailers" style="margin-bottom: 5px">
                        <input class="col-md-3 form-control" id="trailers" data-val="true" tabindex=-1 required>
                        <div class="col-md-7">
                            <label for="trailers">Τρεϊλερ<br/>τροχόσπιτα</label>
                            <img src="~/Content/Searchimages/typecamper-trailer.png"/>
                        </div>
                        <div class="col-md-1 waves-effect waves-light increment"></div>
                        <div class="col-md-1 waves-effect waves-light decrement"></div>
                    </div>

                    <div class="row bottom-border-class" id="vehicleminibuses" style="margin-bottom: 5px">
                        <input class="col-md-3 form-control" id="minibuses" data-val="true" tabindex=-1 required>
                        <div class="col-md-7">
                            <label for="minibuses">Οικογενειακά<br/>λεωφορεία</label>
                            <img src="~/Content/Searchimages/typeminibus.png"/>
                        </div>
                        <div class="col-md-1 waves-effect waves-light increment"></div>
                        <div class="col-md-1 waves-effect waves-light decrement"></div>
                    </div>

                    <div class="row bottom-border-class" id="vehicletrucks" style="margin-bottom: 5px">
                        <input class="col-md-3 form-control" id="trucks" data-val="true" tabindex=-1 required>
                        <div class="col-md-7">
                            <label for="trucks" style="margin-top: 10px">Φορτηγά</label>
                            <img src="~/Content/Searchimages/typetruck.png"/>
                        </div>
                        <div class="col-md-1 waves-effect waves-light increment"></div>
                        <div class="col-md-1 waves-effect waves-light decrement"></div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    @Html.HiddenFor(x => x.TotPassengers.NumOfAdults, new { @id = "NumOfAdults", @value = Model.TotPassengers.NumOfAdults, @class = "form-control", @style = "display: none;", tabindex = -1 })
    @Html.HiddenFor(x => x.TotPassengers.NumOfTeens, new { @id = "NumOfTeens", @style = "display: none;", tabindex = -1 })
    @Html.HiddenFor(x => x.TotPassengers.NumOfKids, new { @id = "NumOfKids", @style = "display: none;", tabindex = -1 })
    @Html.HiddenFor(x => x.TotPassengers.NumOfInfants, new { @id = "NumOfInfants", @style = "display: none;", tabindex = -1 })
    @Html.HiddenFor(x => x.TotPassengers.NumOfOlders, new { @id = "NumOfOlders", @style = "display: none;", tabindex = -1 })

    @Html.HiddenFor(x => x.TotVehicles.NumOfCars, new { @id = "NumOfCars", @style = "display: none;", tabindex = -1 })
    @Html.HiddenFor(x => x.TotVehicles.NumOfMotos, new { @id = "NumOfMotos", @style = "display: none;", tabindex = -1 })
    @Html.HiddenFor(x => x.TotVehicles.NumOfTrailers, new { @id = "NumOfTrailers", @style = "display: none;", tabindex = -1 })
    @Html.HiddenFor(x => x.TotVehicles.NumOfMiniBuses, new { @id = "NumOfMiniBuses", @style = "display: none;", tabindex = -1 })
    @Html.HiddenFor(x => x.TotVehicles.NumOfTrucks, new { @id = "NumOfTrucks", @style = "display: none;", tabindex = -1 })


    //SUBMIT BUTTON
    <div class="row">
        <div class="col-md-10">
            <button value="Send" class="btn waves-effect waves-light #ef6c00 orange darken-2" type="submit" style="float:right">Αναζήτηση&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/Searchimages/boatsearch.png" /></button>
        </div>
    </div>

}

    @section Scripts {
        @Scripts.Render("~/bundles/fancybox")
        @Styles.Render("~/Content/fancybox")
        @Scripts.Render("~/bundles/map")
        @Scripts.Render("~/Scripts/search.js")
        @Scripts.Render("~/Scripts/moment/moment.js")
        @Styles.Render("~/Content/Search.css")
    }


