@using TicketsMVC.Models
@model SearchViewModel

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyCE-zxKGCB7flXHlaoCAkvr0JfjbhdH3ko" async defer></script>

@using (Html.BeginForm("Results", "Ferries", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal container", role = "form" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

    <div class="row" >
        <ul class="list-inline">
            <li>
                <input class="with-gap" name="TripType" type="radio" id="TripTypeS" value="Simple" />
                <label for="TripTypeS">Απλή Μετάβαση</label>
                <img id="icon-single"><img/>
            </li>
            <li>
                <input class="with-gap" name="TripType" type="radio" id="TripTypeWR" value="WithReturn" />
                <label for="TripTypeWR">Με επιστροφή</label>
                <img id="icon-return"><img />
            </li>
            <li>
                <input class="with-gap" name="TripType" type="radio" id="TripTypeM" value="Multiple" />
                <label for="TripTypeM">Πολλαπλή μετάβαση</label>
                <img id="icon-multiple"><img />
            </li>
        </ul>
</div>

    <div class="row" id="fromto0">
        <div class="input-field col s6" id="depallroute0">
            <label for="FromPort" class="control-label">
                <a style="cursor:pointer">
                    Επιλέξτε λιμάνι Αναχωρησης
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </a>
            </label>
            @Html.TextBoxFor(m => m.FromPort, new {@class = "form-control", placeholder = "Εισάγετε όνομα λιμανιού πόλης", tabindex = 1})
            @Html.ValidationMessageFor(m => m.FromPort, "", new { @class = "text-danger" })
        </div>
        
        <div class="input-field col s6" id="arrallroute0">
            <label for="ToPort" class="control-label">
                <a style="cursor:pointer">
                    Επιλέξτε λιμάνι Προορισμού
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </a>
            </label>
            @Html.TextBoxFor(m => m.ToPort, new {@class = "form-control", placeholder = "Εισάγετε όνομα λιμανιού πόλης", tabindex = 2})
            @Html.ValidationMessageFor(m => m.ToPort, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="row" id="dates">
        <div class="col-md-3" id="depalldate">
            <label for="departure" class="control-label">Αναχώρηση</label>
            @Html.TextBoxFor(m => m.DateFrom, new { @class = "form-control datepicker", @readonly = "readonly", type = "text", id = "departuredate0", placeholder = "Εισάγετε ημ/νια αναχώρησης", tabindex = 3 })
            @Html.ValidationMessageFor(m => m.DateFrom, "", new {@class = "text-danger"})
        </div>

        <div class="col-md-3" id="arralldate">
            <label for="arrive" class="control-label">Επιστροφή</label>
            @Html.TextBoxFor(m => m.DateTo, new { @class = "form-control datepicker", @readonly = "readonly", type = "text", id = "arrivedate0", placeholder = "Εισάγετε ημ/νια επιστροφής", tabindex = 4 })
            @Html.ValidationMessageFor(m => m.DateTo, "", new {@class = "text-danger"})
        </div>

        @* Passengers *@
        <div class="col-md-2">
            <div class="popover-markup">
                <label for="NumOfPassengers" class="control-label">Επιβάτες</label>
                @Html.TextBoxFor(m => m.NumOfPassengers, new { @class = "form-control", @readonly = "readonly", value="1", id = "numpassengers", style = "width: 60%", data_toggle = "popover", data_placement = "bottom", placeholder = "Εισάγετε αριθμό επιβατών", tabindex = 1, })
                @Html.ValidationMessageFor(m => m.NumOfPassengers, "", new { @class = "text-danger" })

                <div class="content hide">
                   
                    @* ADULTS *@
                    <div class="row bottom-border-class" id="passengeradult" style="margin-bottom:5px">
                        <input class="col-md-3 form-control" value="1" name="NumOfAdults" id="NumOfAdults" data-val-required="Παρακαλώ εισάγετε αριθμό επιβατών" data-val="true" tabindex=-1 required>
                        <div class="col-md-7">
                            <label for="NumOfAdults">Ενήλικες</label>
                            <label for="NumOfAdults">Από 16 εώς 65 ετών</label>
                        </div>
                        <div class="col-md-1">
                            <a class="btn-floating secondary-content waves-effect waves-circle waves-light #81d4fa light-blue increment"><i class="material-icons iconcls">add</i></a>
                        </div>
                        <div class="col-md-1">
                            <a class="btn-floating secondary-content waves-effect waves-circle waves-light #81d4fa light-blue decrement"><i class="material-icons iconcls">remove</i></a>
                        </div>
                    </div>

                    @* TEENS *@
                    <div class="row bottom-border-class" id="passengerteen" style="margin-bottom:5px">
                        <input class="col-md-3 form-control" value="0" name="NumOfTeens" id="NumOfTeens" data-val-required="Παρακαλώ εισάγετε αριθμό επιβατών" data-val="true" tabindex=-1 required>
                        <div class="col-md-7">
                            <label for="NumOfTeens">Έφηβοι</label>
                            <label for="NumOfTeens">Από 12 εώς 16 ετών</label>
                        </div>
                        <div class="col-md-1">
                            <a class="btn-floating secondary-content waves-effect waves-circle waves-light #81d4fa light-blue increment"><i class="material-icons iconcls">add</i></a>
                        </div>
                        <div class="col-md-1">
                            <a class="btn-floating secondary-content waves-effect waves-circle waves-light #81d4fa light-blue lighten-3 decrement"><i class="material-icons iconcls">remove</i></a>
                        </div>
                    </div>

                    @* KIDS *@
                    <div class="row bottom-border-class" id="passengerkid" style="margin-bottom:5px">
                        <input class="col-md-3 form-control" value="0" name="NumOfKids" data-val-required="Παρακαλώ εισάγετε αριθμό επιβατών" data-val="true" tabindex=-1 required>
                        <div class="col-md-7">
                            <label for="NumOfKids">Παιδιά</label>
                            <label for="NumOfKids">Από 2 εώς 12 ετών</label>
                        </div>
                        <div class="col-md-1">
                            <a class="btn-floating secondary-content waves-effect waves-circle waves-light #81d4fa light-blue increment"><i class="material-icons iconcls">add</i></a>
                        </div>
                        <div class="col-md-1">
                            <a class="btn-floating secondary-content waves-effect waves-circle waves-light #81d4fa light-blue lighten-3 decrement"><i class="material-icons iconcls">remove</i></a>
                        </div>
                    </div>

                    @* INFANTS *@
                    <div class="row bottom-border-class" id="passengerinfant" style="margin-bottom: 5px">
                        <input class="col-md-3 form-control" value="0" name="NumOfInfants" data-val-required="Παρακαλώ εισάγετε αριθμό επιβατών" data-val="true" tabindex=-1 required>
                        <div class="col-md-7">
                            <label for="NumOfInfants">Βρέφη</label>
                            <label for="NumOfInfants">Kάτω των 2 ετών</label>
                        </div>
                        <div class="col-md-1">
                            <a class="btn-floating secondary-content waves-effect waves-circle waves-light #81d4fa light-blue increment"><i class="material-icons iconcls">add</i></a>
                        </div>
                        <div class="col-md-1">
                            <a class="btn-floating secondary-content waves-effect waves-circle waves-light #81d4fa light-blue lighten-3 decrement"><i class="material-icons iconcls">remove</i></a>
                        </div>
                    </div>

                    @* OLDS *@
                    <div class="row bottom-border-class" id="passengerold" style="margin-bottom:5px">
                        <input class="col-md-3 form-control" value="0" name="NumOfOlders" data-val-required="Παρακαλώ εισάγετε αριθμό επιβατών" data-val="true" tabindex=-1 required>
                        <div class="col-md-7">
                            <label for="NumOfOlders">Ηλικιωμένοι</label>
                            <label for="NumOfOlders">Άνω των 65 ετών</label>
                        </div>
                        <div class="col-md-1">
                            <a class="btn-floating secondary-content waves-effect waves-circle waves-light #81d4fa light-blue increment"><i class="material-icons iconcls">add</i></a>
                        </div>
                        <div class="col-md-1">
                            <a class="btn-floating secondary-content waves-effect waves-circle waves-light #81d4fa light-blue lighten-3 decrement"><i class="material-icons iconcls">remove</i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        @* Vehicles *@
        <div class="col-md-2">
            <div class="popover-markup">
                <label for="NumOfVehicles" class="control-label">Οχήματα</label>
                @Html.TextBoxFor(m => m.NumOfVehicles, new { @class = "form-control", @readonly = "readonly", id = "numvehicles", style = "width: 60%", data_toggle = "popover", data_placement = "bottom", placeholder = "Εισάγετε αριθμό οχημάτων", tabindex = -1 })
                @Html.ValidationMessageFor(m => m.NumOfVehicles, "", new { @class = "text-danger" })

                <div class="content hide">
                    @*Cars*@
                    <div class="row bottom-border-class" id="vehiclecars" style="margin-bottom: 5px">
                        @Html.TextBoxFor(m => m.NumOfCars, new { @class = "form-control col-md-3", tabindex = 1 })
                        @Html.ValidationMessageFor(x => x.NumOfCars, "", new { @class = "text-danger" })
                        @*<input class="col-md-3 form-control" name="NumOfCars" data-val="true" tabindex=-1 required>*@
                        <div class="col-md-7">
                            <label for="NumOfCars">Αυτοκίνητα</label>
                        </div>
                        <div class="col-md-1">
                            <a class="btn-floating secondary-content waves-effect waves-circle waves-light #81d4fa light-blue increment"><i class="material-icons iconcls">add</i></a>
                        </div>
                        <div class="col-md-1">
                            <a class="btn-floating secondary-content waves-effect waves-circle waves-light #81d4fa light-blue lighten-3 decrement"><i class="material-icons iconcls">remove</i></a>
                        </div>
                    </div>

                    @*Motorcycles*@
                    <div class="row bottom-border-class" id="vehiclemotos" style="margin-bottom:5px">
                        <input class="col-md-3 form-control" value="0" name="NumOfMotos" data-val="true" tabindex=-1 required>
                        <div class="col-md-7">
                            <label for="NumOfMotos">Μηχανές</label>
                        </div>
                        <div class="col-md-1">
                            <a class="btn-floating secondary-content waves-effect waves-circle waves-light #81d4fa light-blue increment"><i class="material-icons iconcls">add</i></a>
                        </div>
                        <div class="col-md-1">
                            <a class="btn-floating secondary-content waves-effect waves-circle waves-light #81d4fa light-blue decrement"><i class="material-icons iconcls">remove</i></a>
                        </div>
                    </div>

                    @* Traler *@
                    <div class="row bottom-border-class" id="vehicletrailers" style="margin-bottom:5px">
                        <input class="col-md-3 form-control" value="0" name="NumOfTrailers" data-val="true" tabindex=-1 required>
                        <div class="col-md-7">
                            <label for="NumOfTrailers">Τρεϊλερ / τροχόσπιτα</label>
                        </div>
                        <div class="col-md-1">
                            <a class="btn-floating secondary-content waves-effect waves-circle waves-light #81d4fa light-blue increment"><i class="material-icons iconcls">add</i></a>
                        </div>
                        <div class="col-md-1">
                            <a class="btn-floating secondary-content waves-effect waves-circle waves-light #81d4fa light-blue lighten-3 decrement"><i class="material-icons iconcls">remove</i></a>
                        </div>
                    </div>

                    <div class="row bottom-border-class" id="vehicleminibuses" style="margin-bottom:5px">
                        <input class="col-md-3 form-control" value="0" name="NumOfMiniBuses" data-val="true" tabindex=-1 required>
                        <div class="col-md-7">
                            <label for="NumOfMiniBuses">Οικογενειακά λεωφορεία</label>
                        </div>
                        <div class="col-md-1">
                            <a class="btn-floating secondary-content waves-effect waves-circle waves-light #81d4fa light-blue increment"><i class="material-icons iconcls">add</i></a>
                        </div>
                        <div class="col-md-1">
                            <a class="btn-floating secondary-content waves-effect waves-circle waves-light #81d4fa light-blue lighten-3 decrement"><i class="material-icons iconcls">remove</i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    //SUBMIT BUTTON
    <div class="row">
        <div class="col-md-10">
            <button value="Send" class="btn waves-effect waves-light orange" type="submit" style="float:right"><i class="material-icons right">send</i>Αναζήτηση</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fancybox")
    @Styles.Render("~/Content/fancybox")
    @Styles.Render("~/Content/materialize")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/xml2json")
    @Scripts.Render("~/bundles/map")
    @Scripts.Render("~/Scripts/search.js")
    @Scripts.Render("~/Scripts/moment/moment.js")
    @Styles.Render("~/Content/Search.css")
}


